[submodule "deps/remodule"]
	path = deps/remodule
	url = https://github.com/bullno1/remodule.git
[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol.git
[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "deps/bullno1-libs"]
	path = deps/bullno1-libs
	url = https://github.com/bullno1/libs.git
